# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Tiny-C extra ignores
*~
\#*
.#*
*.log
*.bz2
*.zip
.gdb_history
a.out
sugar_g
sugar
*-sugar
libsugar*.def

config*.h
config*.mak
config.texi
conftest*
!conftest.c
tags
TAGS
sugar.1
sugar.pod
sugar-doc.html
sugar-doc.info

win32/doc
win32/libsugar
win32/lib/32
win32/lib/64
win32/include/float.h
win32/include/stdarg.h
win32/include/stdbool.h
win32/include/stddef.h
win32/include/varargs.h
win32/include/sugarlib.h

tests/sugartest[1234]
tests/sugartest.gcc
tests/*.out*
tests/*.ref
tests/*.txt
tests/*.gcc
tests/*-cc*
tests/*-sugar*
tests/libsugar_test
tests/libsugar_test_mt
tests/asm-c-connect
tests/asm-c-connect-sep
tests/vla_test
tests/hello
tests/tests2/fred.txt
libsugar.dylib

# OSX crap
.DS_Store
