# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Tiny-C extra ignores
*~
\#*
.#*
*.log
*.bz2
*.zip
.gdb_history
a.out
sugar_g
sugar
*-sugar
libsugar*.def

config*.h
config*.mak
config.texi
conftest*
!conftest.c
tags
TAGS
sugar.1
sugar.pod
sugar-doc.html
sugar-doc.info

src/win32/doc
src/win32/libsugar
src/win32/lib/32
src/win32/lib/64
src/win32/include/float.h
src/win32/include/stdarg.h
src/win32/include/stdbool.h
src/win32/include/stddef.h
src/win32/include/varargs.h
src/win32/include/sugarlib.h

src/tests/sugartest[1234]
src/tests/sugartest.gcc
src/tests/*.out*
src/tests/*.ref
src/tests/*.txt
src/tests/*.gcc
src/tests/*-cc*
src/tests/*-sugar*
src/tests/libsugar_test
src/tests/libsugar_test_mt
src/tests/asm-c-connect
src/tests/asm-c-connect-sep
src/tests/vla_test
src/tests/hello
src/tests/tests2/fred.txt
src/libsugar.dylib

# OSX crap
.DS_Store

# VS Code
.vscode/*

# non-public files
non-public/*

fat/*
